*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#amount {
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    color: white;
    outline: none;
    padding: 0.5rem;
    background: none;
}

#amount:hover {
    border-color: #64ffda;
}

#amount:focus {
    border-color: #64ffda;
}