body {
    margin: 0;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0A192F;
}

h1 {
    margin-top: 100px;
    margin-bottom: 60px;
    color: #ccd6f6;
}

input {
    margin-bottom: 20px;
}

#result {
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    color: white;
    outline: none;
    padding: 0.5rem;
    background: none;
}